@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

html {
  height: 100%;
}
body {
  @include radial-gradient($secondary-color, darken($secondary-color, 30%));
  height: 100%;
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Yeseva One', cursive;
  color: $primary-color;
}

p, span, button, .btn {
  font-size: .9rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 100;
  margin-bottom: 1rem;
  color: $primary-color;
}

.subheading {
  font-family: 'Merriweather', serif;
  font-weight: 100;
}

h1 {
  color: $primary-color;
  font-size: 3.6rem;
}


.main-hero {
  display: table;
  width: 100vw;
  height: 100vh;

  .main-hero-inner {
    display: table-cell;
    vertical-align: middle;

    .main-hero-content {
      border-top: 1px dashed $primary-color;
      border-bottom: 1px dashed $primary-color;
      width: 80%;
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem 1rem;
      clear: both;
      overflow: auto;
    }
    .main-hero-title {
      float: left;
      min-width: 50%;
    }
    .main-hero-text {
      float:left;
      max-width: 50%;

      span {
        font-size: 0.6rem;
      }
    }
  }
}

.octicon {
  fill: $primary-color;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

button, .btn {
  background: transparent;
  border: 2px solid $primary-color;
  padding: 0.7rem;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: darken($secondary-color, 30%);
  }
}
