@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

html {
  height: 100%;
}
body {
  @include radial-gradient($secondary-color, darken($secondary-color, 30%));
  height: 100%;
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Yeseva One', cursive;
  color: $primary-color;
}

p, span, button, .btn, label, input {
  font-size: .9rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 100;
  margin-bottom: 1rem;
  color: $primary-color;
}

.subheading {
  font-family: 'Merriweather', serif;
  font-weight: 100;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.inline-spacer {
  padding: 0 0.6rem;
}

.main-hero {
  display: table;
  width: 100vw;
  height: 100vh;

  .main-hero-inner {
    display: table-cell;
    vertical-align: middle;

    .main-hero-content {
      border-top: 1px dashed $primary-color;
      border-bottom: 1px dashed $primary-color;
      width: 80%;
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem 1rem;
      clear: both;
      overflow: auto;
    }
    .main-hero-title {
      float: left;
      min-width: 50%;
    }
    .main-hero-text {
      float:left;
      max-width: 50%;

      span {
        font-size: 0.6rem;
      }
    }
    .main-hero-actions {
    clear: both;
    text-align: center;
    padding: 2rem 0 0 0;
    }
  }
}

.octicon {
  fill: $primary-color;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

button, .btn {
  background: transparent;
  border: 2px solid $primary-color;
  padding: 0.7rem;
  cursor: pointer;
  margin: 0;
  transition: all .3s ease-in-out;

  &:hover {
    background: darken($secondary-color, 30%);
  }
}


.input-group {
  padding: 0.6rem;
  label {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  input {
    border: 0;
    border-bottom: 2px solid $primary-color;
    background: transparent;
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
    min-width: 30%;
    transition: all .3s ease-in-out;


    &:focus, &:active {
      outline: 0;
      border-bottom: 2px solid darken($primary-color, 15%);
      background: rgba(0,0,0,0.1);
    }
  }
  ::-webkit-input-placeholder {
    color: #fff;
    opacity: 0;
  }
}
