<div class="main-hero-title">
  <h1>Enlighten</h1>
  <h3 class="subheading">Forward Mandrill Webhooks to Slack.</h3>
</div>

<div class="main-hero-text">
  <p>Enlighten is a <strong><em>Webhook endpoint for Mandrill</em></strong> which automatically formats webhooks into clean Slack Messages and forwards them on into your Slack channel.</p>
  <span>This project is open-source and can be hosted on your own. This site is a free host for this service.</span>
</div>

<div class="main-hero-actions">
  <a class="btn" href="https://www.npmjs.com/package/enlighten-mandrill">Host it yourself</a>
  <span class="inline-spacer">or</span>
  <button ui-sref="setup">Get Started Free</button>
</div>
